Here we're making some fake data just in case our form isn't filled out

In [34]:
import pandas as pd

In [35]:
url = "https://docs.google.com/spreadsheets/d/1liJc0zDH5y5Aa02TnmfCvIG08pEQlv7rbi9aSswEuP0/export?format=csv&gid=577241993"
df = pd.read_csv(url)

In [36]:
df.head()

            Timestamp     Class Borough         Wake        Sleep
0  6/30/2020 20:47:27  freshman   Bronx  10:00:00 AM  12:00:00 PM

In [37]:
# Creating python lists (which are objects) of potential values
year = ['freshman', 'sophmore', 'junior', 'senior']
borough = ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Other']
wake = [f'{hr:02}:00:00AM' for hr in range(6,12)] # setting wake ups between 6 and 11AM
sleep = ['10:00:00PM', '11:00:00PM', '12:00:00AM', '01:00:00AM']

The Python standard library has a module (sub-library) called itertools that we can use to make combinations of our sample values, that we're then gonna convert into a list of lists.

In [58]:
import itertools

fake_data = itertools.product(year, borough, wake, sleep)

In [59]:
# going to turn this into a dataframe
dfake = pd.DataFrame(data = list(fake_data), 
                     columns=['Class', 'Borough', 'Wake', 'Bed'])

In [60]:
#lets take a sample of all the combinations to get a random mix of options
dsamp = dfake.sample(n=30)
dsamp.head()

        Class    Borough        Wake         Bed
557    senior      Other  07:00:00AM  11:00:00PM
326    junior   Brooklyn  09:00:00AM  12:00:00AM
143  freshman      Other  11:00:00AM  01:00:00AM
209  sophmore  Manhattan  10:00:00AM  11:00:00PM
433    senior      Bronx  06:00:00AM  11:00:00PM

In [61]:
dsamp.to_csv("fake_survey.csv")